.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #000000;
    padding-left: 10px;
}

.nav {
  margin: 0 0 30px;
  background-color: #ffbb52;
  overflow: hidden;
}

.nav-link {
  float: left;
  color: #000000;
  background-color: #ffbb52;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #ffbb52;
}

.nav-right {
  float: right;
}
.hamburger {
  margin-top: 5px;
  margin-right: 10px;
}
.hamburgerMenu{
  width: 60px;
  height: 60px;
}